$cyan: #00FFFF;
$spacegrey: #191d20;
$pink: #ff3f81;
$gold: #B7938A;
$green: #42b983;
$clayblue: #2c3e50;;
$grey: #212121;

body{
	background-color: $grey;
}

.alekFocus {
  border: 5px solid $green;
}

.kevinFocus {
	background-color: $green;
	background-color: $gold;
	border-radius: 5px;
	color: $grey;
}

.selectedFocus {
	border: 5px solid $cyan;
	// .title{
	//   color: $cyan;

	// }
}

ul{
	list-style-type: none;
	padding-left: 1rem;
}

