$cyan: #00FFFF;
/* $spacegrey: #191d20; */
$spacegrey: #000000;
/* $pink: #ff3f81; */
$pink: #ffffff;
/* $gold: #f54076; */
$gold: #ffffff;
$green: #00ff00;
$clayblue: #d5e0d8;
$grey: #bcbfcc;
$altgrey: #000000;

body{
	background-color: $grey;
}

.alekFocus {
  border: 5px solid $green;
}

.kevinFocus {
	background-color: $green;
	background-color: $gold;
	border-radius: 5px;
	color: $altgrey;
}

.selectedFocus {
	border: 5px solid $cyan;
	// .title{
	//   color: $cyan;

	// }
}

ul{
	list-style-type: none;
	padding-left: 1rem;
}

