.textCard {
	color: $cyan;
	background-color: $spacegrey;
	border-radius: 20px;
	width: 300px;
	height: 400px;
	margin: 10px;
	font-size: 1.4em;
	border: 5px solid $spacegrey;

	li{
		text-align: left;
	}

	&:hover, &:focus, .alekFocus {
		border: 5px solid $pink;
	}
}


