.textCard {
	color: $gold;
	background-color: $spacegrey;
	padding: 2rem 1rem;
	padding-top: 1rem;
	border-radius: 20px;
	width: 300px;
	height: 400px;
	margin: 10px;
	font-size: 1.4em;
	border: 5px solid $spacegrey;

	li{
		text-align: left;
	}

	&:focus, .alekFocus {
		border: 5px solid $pink;
	}

	.subtask{
		padding-left: 2rem;
	}

	span{
		display: block;
		height: 95%;
		overflow-y: scroll;
		overflow-wrap: break-word;
	}
}

::-webkit-scrollbar {
		width: 0px;  // Remove scrollbar space
		background: transparent;  // Optional: just make scrollbar invisible
}


